/* For Bootstrap styling on input[type="file"]
 * See https://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3
 */

/* Bootstrap file upload input */

// The file select button
input[type="file"].form-control-file {
  display: none;
}

// The text field used to display file name
input[type="text"].form-control-file {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}